@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900;1000&display=swap");

body {
  top: 0;
  left: 0;
  margin: 0;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #194fff;
}

::selection {
  color: white;
  background: #194fff;
}

#poly-shape-first {
  top: 0;
  z-index: -999;
  position: absolute;
  width: 100%;
  height: 600px;
  clip-path: polygon(0 0, 100% 0, 100% 46%, 0 80%);
  background: #ffd982;
}
