@import url("https://cdn.syncfusion.com/ej2/material.css");

.sidebar {
	box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}

.nav-item,
.navbar {
	z-index: 10000;
}

@media screen and (max-width: 800px) {
	.sidebar {
		z-index: 100000000000;
	}
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
	z-index: 1000000 !important;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(216, 216, 216);
	border-radius: 40px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

/* color-picker style  */

#preview {
	background: transparent
		url("https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png") no-repeat;
	display: inline-block;
	height: 80px;
	margin: 10px 0;
	min-width: 300px;
	max-width: 600px;
	background-color: #008000;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.loading-spinner {
	width: 50px;
	height: 50px;
	border: 10px solid #f3f3f3; /* Light grey */
	border-top: 10px solid #383636; /* Blue */
	border-radius: 50%;
	animation: spinner 1.5s linear infinite;
}

.spinner-container {
	position: absolute;
	display: grid;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: 350px;
	background: rgba(0, 0, 0, 0.33);
	z-index: 1000;
	height: 100%;
	top:0;
}

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
	border: none;
}
